/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 feb. 2024, 18:50:18
    Author     : joseangelcortes HBS
*/
h1 {
    text-align: center;
    font-family: dubai,dosis;
}
.alinear{
    margin-left: 45%;
}